## Movie Recommender System

In [1]:
import numpy as np 
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [5]:
movies.shape

(4803, 20)

In [6]:
credits.shape

(4803, 4)

In [7]:
movies = movies.merge(credits,on='title')

In [8]:
movies.shape

(4809, 23)

In [9]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [10]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [11]:
movies.dropna(inplace=True)

In [12]:
import ast

In [13]:
def convert(text):
    L=[]
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return L

In [14]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [15]:
movies.shape

(4806, 7)

In [16]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [17]:
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [19]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [20]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [21]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ", ""))
    return L1

In [22]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [23]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [24]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [25]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [26]:
new_movies = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [27]:
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [28]:
new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [29]:
new_movies['tags'] = new_movies['tags'].apply(lambda x : x.replace(",", ""))
new_movies['tags'] = new_movies['tags'].apply(lambda x : x.lower())

In [30]:
new_movies.head(30)

,movie_id,title,tags
0,19995,Avatar,in the 22nd century a paraplegic marine is dis...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believed to be dead has ...
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,john carter is a war-weary former military cap...
5,559,Spider-Man 3,the seemingly invincible spider-man goes up ag...
6,38757,Tangled,when the kingdom's most wanted-and most charmi...
7,99861,Avengers: Age of Ultron,when tony stark tries to jumpstart a dormant p...
8,767,Harry Potter and the Half-Blood Prince,as harry begins his sixth year at hogwarts he ...
9,209112,Batman v Superman: Dawn of Justice,fearing the actions of a god-like super hero l...
10,1452,Superman Returns,superman returns to discover his 5-year absenc...
11,10764,Quantum of Solace,quantum of solace continues the adventures of ...
12,58,Pirates of the Caribbean: Dead Man's Chest,captain jack sparrow works his way out of a bl...
13,57201,The Lone Ranger,the texas rangers chase down a gang of outlaws...
14,49521,Man of Steel,a young boy learns that he has extraordinary p...
15,2454,The Chronicles of Narnia: Prince Caspian,one year after their incredible adventures in ...
16,24428,The Avengers,when an unexpected enemy emerges and threatens...
17,1865,Pirates of the Caribbean: On Stranger Tides,captain jack sparrow crosses paths with a woma...
18,41154,Men in Black 3,agents j (will smith) and k (tommy lee jones) ...
19,122917,The Hobbit: The Battle of the Five Armies,immediately after the events of the desolation...
20,1930,The Amazing Spider-Man,peter parker is an outcast high schooler aband...
21,20662,Robin Hood,when soldier robin happens upon the dying robe...
22,57158,The Hobbit: The Desolation of Smaug,the dwarves bilbo and gandalf have successfull...
23,2268,The Golden Compass,after overhearing a shocking secret precocious...
24,254,King Kong,in 1933 new york an overly ambitious movie pro...
25,597,Titanic,84 years later a 101-year-old woman named rose...
26,271110,Captain America: Civil War,following the events of age of ultron the coll...
27,44833,Battleship,when mankind beams a radio signal into space a...
28,135397,Jurassic World,twenty-two years after the events of jurassic ...
29,37724,Skyfall,when bond's latest assignment goes gravely wro...

In [31]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
def filter_stop_words(text):
    filtered_sentence = []
    for w in text.split():
        if w not in stop_words:
            filtered_sentence.append(w)
    return filtered_sentence

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\aaary\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
new_movies['tags'] = new_movies['tags'].apply(filter_stop_words)

In [33]:
new_movies.head(10)

,movie_id,title,tags
0,19995,Avatar,"[22nd, century, paraplegic, marine, dispatched..."
1,285,Pirates of the Caribbean: At World's End,"[captain, barbossa, long, believed, dead, come..."
2,206647,Spectre,"[cryptic, message, bond’s, past, sends, trail,..."
3,49026,The Dark Knight Rises,"[following, death, district, attorney, harvey,..."
4,49529,John Carter,"[john, carter, war-weary, former, military, ca..."
5,559,Spider-Man 3,"[seemingly, invincible, spider-man, goes, all-..."
6,38757,Tangled,"[kingdom's, wanted-and, charming-bandit, flynn..."
7,99861,Avengers: Age of Ultron,"[tony, stark, tries, jumpstart, dormant, peace..."
8,767,Harry Potter and the Half-Blood Prince,"[harry, begins, sixth, year, hogwarts, discove..."
9,209112,Batman v Superman: Dawn of Justice,"[fearing, actions, god-like, super, hero, left..."

In [34]:
from nltk.stem import PorterStemmer
ps=PorterStemmer()
def root_word(text):
    L = []
    for w in text:
        L.append(ps.stem(w))
    return L

In [35]:
new_movies['tags'] = new_movies['tags'].apply(root_word)

In [36]:
new_movies.tags.head(30)

0     [22nd, centuri, parapleg, marin, dispatch, moo...
1     [captain, barbossa, long, believ, dead, come, ...
2     [cryptic, messag, bond’, past, send, trail, un...
3     [follow, death, district, attorney, harvey, de...
4     [john, carter, war-weari, former, militari, ca...
5     [seemingli, invinc, spider-man, goe, all-new, ...
6     [kingdom', wanted-and, charming-bandit, flynn,...
7     [toni, stark, tri, jumpstart, dormant, peaceke...
8     [harri, begin, sixth, year, hogwart, discov, o...
9     [fear, action, god-lik, super, hero, left, unc...
10    [superman, return, discov, 5-year, absenc, all...
11    [quantum, solac, continu, adventur, jame, bond...
12    [captain, jack, sparrow, work, way, blood, deb...
13    [texa, ranger, chase, gang, outlaw, led, butch...
14    [young, boy, learn, extraordinari, power, eart...
15    [one, year, incred, adventur, lion, witch, war...
16    [unexpect, enemi, emerg, threaten, global, saf...
17    [captain, jack, sparrow, cross, path, woman, p...
18    [agent, j, (will, smith), k, (tommi, lee, jone...
19    [immedi, event, desol, smaug, bilbo, dwarv, tr...
20    [peter, parker, outcast, high, schooler, aband...
21    [soldier, robin, happen, upon, die, robert, lo...
22    [dwarv, bilbo, gandalf, success, escap, misti,...
23    [overhear, shock, secret, precoci, orphan, lyr...
24    [1933, new, york, overli, ambiti, movi, produc...
25    [84, year, later, 101-year-old, woman, name, r...
26    [follow, event, age, ultron, collect, govern, ...
27    [mankind, beam, radio, signal, space, repli, c...
28    [twenty-two, year, event, jurass, park, isla, ...
29    [bond', latest, assign, goe, grave, wrong, age...
Name: tags, dtype: object

In [37]:
new_movies['tags'] = new_movies['tags'].apply(lambda x: " ".join(x))
new_movies.head()

,movie_id,title,tags
0,19995,Avatar,22nd centuri parapleg marin dispatch moon pand...
1,285,Pirates of the Caribbean: At World's End,captain barbossa long believ dead come back li...
2,206647,Spectre,cryptic messag bond’ past send trail uncov sin...
3,49026,The Dark Knight Rises,follow death district attorney harvey dent bat...
4,49529,John Carter,john carter war-weari former militari captain ...

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [39]:
vectorizer = TfidfVectorizer(max_features=10000)

In [40]:
vectors = vectorizer.fit_transform(new_movies['tags'])

In [41]:
vectors.shape

(4806, 10000)

In [42]:
from sklearn.metrics.pairwise import cosine_similarity

In [43]:
similarity = cosine_similarity(vectors)

In [44]:
print(similarity)

[[1.         0.01714919 0.02317235 ... 0.01854833 0.00425316 0.        ]
 [0.01714919 1.         0.02157424 ... 0.01520176 0.         0.        ]
 [0.02317235 0.02157424 1.         ... 0.02015989 0.         0.        ]
 ...
 [0.01854833 0.01520176 0.02015989 ... 1.         0.02163243 0.02419111]
 [0.00425316 0.         0.         ... 0.02163243 1.         0.02551029]
 [0.         0.         0.         ... 0.02419111 0.02551029 1.        ]]

In [45]:
import difflib

In [46]:
def recommend(movie):
    index = new_movies[new_movies['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:11]:
        print(new_movies.iloc[i[0]].title)

In [47]:
movie_name = input('Enter the movie name: ')

Enter the movie name: avatar

In [48]:
list_of_all_titles = new_movies['title'].tolist()

In [49]:
find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

In [50]:
close_match = find_close_match[0]

In [51]:
recommend(close_match)

Aliens
Falcon Rising
Battle: Los Angeles
Apollo 18
Meet Dave
Star Trek Into Darkness
Titan A.E.
Aliens vs Predator: Requiem
The Book of Life
Predators

In [52]:
import pickle

In [53]:
file='movies_list.pkl'

In [54]:
fileobj=open(file,'wb')

In [55]:
file2='similarities.pkl'

In [56]:
fileobj2=open(file2,'wb')

In [57]:
file3='similarities.pkl'

In [58]:
fileobj3=open(file3,'wb')

In [59]:
pickle.dump(new_movies.to_dict(),fileobj)

In [60]:
pickle.dump(similarity,fileobj2)

In [61]:
pickle.dump(similarity,fileobj3)

In [63]:
fileobj.close()
fileobj2.close()
fileobj3.close()